<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th colspan='2'>Task</th>
      <% if @current_user %>
        <th>Manage</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.text %>
        </td>
        <td>
          <% if task.completed %>
            <span class="badge badge-success"><i class="icon-ok"></i></span>
          <% end %>
          <% if task.is_old? %>
            <span class="badge badge-important"><i class="icon-exclamation-sign"></i></span>
          <% end %>
        </td>
        <% if @current_user %>
          <td>
            <% if task.completed %>
              <%= render :partial => "button" ,:locals => {
                :object => task, :data => {:completed => false},
                :options => {:method => :put, class: 'btn btn-warning btn-mini'},
                :button_icon => 'icon-remove',
                :button_text => 'Undo'
              }%>
            <% else %>
              <%= render :partial => "button" ,:locals => {
                :object => task, :data => {:completed => true},
                :options => {:method => :put, class: 'btn btn-primary btn-mini'},
                :button_icon => 'icon-ok',
                :button_text => 'Complete'
              }%>
            <% end %>
            <%= button_to edit_task_path(task), :method => :get, :class => 'btn btn-mini btn-success' do %>
              <%= content_tag('i', nil, class: 'icon-pencil') %>
              Edit
            <% end %>
            <%= render :partial => "button" ,:locals => {
                :object => task, :data => {},
                :options => {:method => :delete, class: 'btn btn-danger btn-mini'},
                :button_icon => 'icon-trash',
                :button_text => 'Delete'
            }%>
          </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<strong>Task legend</strong>
<dl class="dl-horizontal">
  <dt><span class="badge badge-success"><i class="icon-ok"></i></span></dt>
  <dd>Completed</dd>
  <dt><span class="badge badge-important"><i class="icon-exclamation-sign"></i></span></dt>
  <dd>&gt; 2 weeks old</dd>
</dl>