<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitzapp</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <style>
      .content { padding-top: 80px; }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Fitzapp</a>
          <div class="container nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container content">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <div class="well sidebar-nav">
              <h3>Menu</h3>
              <ul class="nav nav-list">
                <% if @current_user %>
                  <li class="nav-header">Welcome <%= @current_user.name %></li>
                  <li><%= link_to "All tasks", tasks_path %></li>
                  <li><%= link_to "New task", new_task_path %></li>
                  <li><%= link_to "View profile", user_path(@current_user) %></li>
                  <li><%= link_to "Edit profile", edit_user_path(@current_user) %></li>
                  <li>&nbsp;</li>
                  <li class="nav"><%= link_to "Log out", session_path(@current_user), method: :delete %></li>
                <% else %>
                  <li class="nav-header">Hello</li>
                  <li><%= link_to "Sign up", new_user_path %></li>
                  <li><%= link_to "Log in", new_session_path %></li>
                <% end %>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        </div><!--/row-->

    </div> <!-- /container -->

  </body>
</html>
